{% extends 'layout.html' %}
{% block content %}
    
<form id="search-engine" class = 'search-engine' action="{{url_for('search_results')}}" methods= 'GET' >
        <div row>
            <div class="col-12" style="padding-top:9px">
                <div class="input-group">
                    {{form.books(class="form-control", placeholder="Author/Book/ISBN")}}
                    <span class="input-group-btn" style="padding-left:2px; width:50%">
                        
                        {{form.search(class="btn btn-default")}}
                    </span>
                </div>
            </div>
        </div>
    </form>
    <div class= "envelop" style="width:95%; padding-top:15px">
        <div class="sides">
            <div class="sideBarDash">
                <div class="card" style="width: 100%; margin-right:2px; border:none">
                    <ul class="sideBarItems">
                   
                        <li><img src="{{profilePic_file}}" class="img img-rounded img-fluid" id="dashPic"/></li>
                    
                
                        <li>
                            <form method="POST" action="" enctype= "multipart/form-data">
                                {{ update.hidden_tag() }}
                                <u class="subtitles">{{update.profile_picture.label()}}</u> <br>
                                {{update.profile_picture(id="upload_profpic")}}<br>
                                {% if update.profile_picture.errors %}
                                    {% for error in update.profile_picture.errors %}
                                        <span class="text-danger">{{ error }}</span></br>
                                    {% endfor %}    
                                {% endif%}<br>
                                {{update.submit(style="border:none")}}
                            </form>
                        </li>
                        <li class="inline-dash">
                            <ul><u class="subtitles">Personal information</u>
                                <li>Username : {{name}}</li>
                                <li>Email : <br>{{email}}</li>                                        
                                <li>Country: {{country}}</li>
                            </ul>
                                    
                        <li class="inline-dash">
                            <ul><u class="subtitles">Activities</u><br> 
                                <li>Number of Reviews: {{numreviews}}</li>                     
                                <li class="inline-dash"><a href="{{url_for('delete_account')}}">Delete account</a></li>                
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="otherSide"> 
    
            {% if history | length == 0 %}
            <div class="card text-center">
                <div class="card-header">
                  Your review History
                </div>
                <div class="card-body"> 
                  <h5 class="card-title">It looks like you haven't reviewed a book yet.</h5>
                  <p class="card-text">Search for a book by isbn, author name or book title, and see what others have to say about it. If you choose to read it or have read it already, feel free to give your recommendation.</p>
                  
                </div>
            </div>  
            {% else %}
                {% for item in history %} 
                    <div class="card">
                        <div class="card-header">
                            {{item[4]}}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{item[0]}}</h5>
                            <p class="card-text">By {{item[1]}}, isbn = {{item[2]}}, published in {{item[3]}}.</p>
                            <a href="{{url_for('chosen_book', book_token=item[2])}}" class="btn btn-primary">Visit the book to see the review</a>
                        </div>
                    </div>
                {% endfor %} 
            {% endif %}    
            </div>
        </div> 
    </div> 
{% endblock %}


