<!DOCTYPE html>
<html>
    <head>
        <title>Sign In</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel= "stylesheet" type="text/css" href="{{url_for('static', filename='styles2.css')}}">
    </head>
    <body>
        <header>
            <h1 id = "logo">reviewAndRate.</h1>
        </header>
        <div>
            {% with alerts = get_flashed_messages(with_categories=true) %}
            {% if alerts %}
                {% for categ, alert in alerts%}
                    <div class="alert alert-{{ categ }}"> {{ alert }}</div>
                {% endfor%}    
            {% endif %}
        {% endwith %}    
      </div>
        <section>
            <h2> Log in with your credentials.</h2>
            <div style=" color:darkgrey" ><a href="{{url_for('registration')}}">Sign up</a> if you don't have an account.</div>
        <form action= "" method="POST"> 
                        
                        {{ login_form.hidden_tag() }}
                        {{login_form.email.label}}:<br>

                        {% if login_form.email.errors %}
                            {{ login_form.email(class="form-control form-control-md is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in login_form.email.errors %}
                                    <span> {{error}}</span>
                                {% endfor%}
                            </div>
                        {% else %}
                            {{login_form.email(class="form-control form-control-md")}}   

                        {% endif%}<br>
            
                        {{login_form.password.label}}:<br> 
                        {% if login_form.password.errors %}
                            {{ login_form.password(class="form-control form-control-md is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in login_form.password.errors %}
                                    <span> {{error}}</span>
                                {% endfor%}
                            </div>
                        {% else %}
                            {{login_form.password(class="form-control form-control-md")}}
                        {% endif%}<br> 
                    
    
                    <div class="modal-footer">
                            {{login_form.submit(class="btn btn-danger")}}
                    </div>
                  </form>  
                </section>
    </body>
    </html>