<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel= "stylesheet" type="text/css" href="{{url_for('static', filename='styles2.css')}}">
    </head>
    <body>
        <header>
            <h1 id = "logo">yourBoocs.</h1>
        </header>
        <div>
            {% with alerts = get_flashed_messages(with_categories=true) %}
                {% if alerts %}
                    {% for categ, alert in alerts%}
                        <div class="alert alert-{{ categ }}"> {{ alert }}</div>
                    {% endfor%}    
                {% endif %}
            {% endwith %}    
        </div>
        <section>
            <h2> Create your account for free.</h2>
            <div style=" color:darkgrey" ><a href="{{url_for('login')}}">login</a> if you already have an account.</div>
            <form action= "" method="POST"> 
           
                {{ form.hidden_tag() }} 
                {{form.username.label}}:<br> 
                {% if form.username.errors %}
                    {{ form.username(class="form-control form-control-md is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span> {{error}}</span>
                        {% endfor%}
                    </div>
                {% else %}
                    {{form.username(class="form-control form-control-md")}}   
                {% endif%}<br>

                {{form.email.label}}:<br>

                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-md is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span> {{error}}</span>
                        {% endfor%}
                    </div>
                {% else %}
                    {{form.email(class="form-control form-control-md")}}   
                {% endif%}<br>

                {{form.password.label}}:<br> 
                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-md is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span> {{error}}</span>
                        {% endfor%}
                    </div>
                {% else %}
                    {{form.password(class="form-control form-control-md")}}   
                {% endif%}<br>

            
                {{form.confirmPassword.label}}:<br>
            
                {% if form.confirmPassword.errors %}
                    {{ form.confirmPassword(class="form-control form-control-md is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.confirmPassword.errors %}
                            <span> {{error}}</span>
                        {% endfor%}
                    </div>
                {% else %}
                    {{form.confirmPassword(class="form-control form-control-md")}}   
                {% endif%}<br>
            
                <strong>{{form.gender.label}}</strong><br> 
                {{form.gender( style='list-style: none')}}<br>
                {{form.country.label}}: {{form.country(class="form-control", style='width: 50%')}}<br>
                {{form.submit(class="btn btn-outline-primary ml-2")}}<br>  
            </form>
            
        </section>
    </body>
</html>